
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact us</a></li>
      <li><a href="/chat">Online Chat</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 ">
            <fieldset>
                <form method="POST" action="/login">
                <legend>Login Form</legend>
                 Username:
                 <input type="text" name="uname" class="form-control" placeholder="Enter Username" />
                 <br/>
                 Password:
                 <input type="text" name="upass" class="form-control" placeholder="Enter Password" />
                 <br/>
                 <input type="Submit" value="Login" class="btn-primary" />
                 <br/>
                </form>        
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>
<!--<html>
    <head>
        <title>Testing Forms</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <script>
          
        </script>
    </head>
    <body>
    
        <form action="/" method="post">
            Comment:<br>
            <input type="text" name="comment" id="comment" value=""/><br><br>
            <input type="submit" value="Click Here">       
        </form>
        <img src="images/img.png" height="200" width="200"/>
    </body>
</html>-->